<% if resource.errors.present? %>
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		<%= resource.errors.full_messages.to_sentence %>
	</div>
<% end %>
